/* Base */

body,
html { height: 100%; position: relative; overflow-y: auto; }

body { min-width: 320px; background-color: #fff; font-family: 'Sofia Pro', sans-serif; font-size: 18px; color: #27373b; line-height: 1.33; letter-spacing: .05em; }
